@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: "Josefin Sans", sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.checkbox {
  min-width: 18px;
  height: 18px;
  background-color: linear-gradient hsl(192deg, 100%, 67%) to hsl(280deg, 87%, 65%);
  border: 1px solid hsl(233deg, 11%, 84%);
  border-radius: 50%;
  opacity: 0.2;
  margin: 0 0.5em 0 1em;
}
.checkbox:hover {
  border-color: linear-gradient hsl(192deg, 100%, 67%) to hsl(280deg, 87%, 65%);
  opacity: 1;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: auto;
  gap: 0.5em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  min-height: 100vh;
  height: 650px;
}
.main__wrapper {
  width: 90%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 2em;
}
.header__tittle {
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .header__tittle {
    font-size: 2.2em;
    letter-spacing: 10px;
  }
}
.header__sunMoon {
  min-width: 20px;
  min-height: 20px;
}

.intro {
  min-height: 50px;
  font-size: 0.8em;
  margin: 0 auto 1em;
  border-radius: 0.3em;
}
@media screen and (min-width: 500px) {
  .intro {
    font-size: 1em;
    min-height: 65px;
  }
}
.intro__check {
  margin: 0 0.5em 0 1.2em;
}
.intro__input {
  width: 100%;
}

.taskArea__list {
  width: 100%;
}
.taskArea__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border-bottom: 0.1px solid;
}
.taskArea__item:hover {
  cursor: pointer;
}
.taskArea__item:hover .taskArea__right {
  opacity: 1;
}
@media screen and (min-width: 500px) {
  .taskArea__item {
    min-height: 65px;
  }
}
.taskArea__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}
@media screen and (min-width: 1024px) {
  .taskArea__left {
    width: 80%;
  }
}
.taskArea__text {
  width: 100%;
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.taskArea__text:hover {
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .taskArea__text {
    font-size: 1em;
    font-weight: 400;
  }
}
.taskArea__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .taskArea__right {
    opacity: 0;
  }
}
.taskArea__edit {
  fill: hsl(233deg, 11%, 84%);
  width: 15px;
  height: 15px;
}
.taskArea__edit:hover {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .taskArea__edit {
    width: 20px;
    height: 20px;
  }
}
.taskArea__delete {
  width: 15px;
  height: 15px;
  margin: 0 1em 0 0.8em;
}
.taskArea__delete:hover {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .taskArea__delete {
    width: 20px;
    height: 20px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1em;
  min-height: 50px;
  font-size: 0.8em;
  position: relative;
}
@media screen and (min-width: 500px) {
  .footer {
    min-height: 65px;
    font-size: 1em;
  }
}
.footer__idk {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: 0 0 0 1.2em;
}
.footer__idk:hover {
  cursor: pointer;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  min-height: 50px;
  font-weight: 700;
  font-size: 1.2em;
  position: absolute;
  top: 130%;
}
@media screen and (min-width: 500px) {
  .footer__list {
    margin: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 1em;
    width: auto;
    position: static;
    top: auto;
  }
}
.footer__item:hover {
  cursor: pointer;
}
.footer__clear {
  margin: 0 1.2em 0 0;
}
.footer__clear:hover {
  cursor: pointer;
}

.end {
  position: relative;
  top: 8%;
  pointer-events: none;
}
@media screen and (min-width: 500px) {
  .end {
    top: 0;
  }
}

.dark {
  background-color: hsl(235deg, 21%, 11%);
  background-image: url(../../images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 32%;
}
@media screen and (min-width: 1024px) {
  .dark {
    background-image: url(../../images/bg-desktop-dark.jpg);
    background-size: 100% 35%;
  }
}
.dark__header {
  color: hsl(0deg, 0%, 98%);
}
.dark__header .header__sunMoon {
  background-image: url(../../images/icon-sun.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.dark__intro {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}
.dark__taskArea {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(0deg, 0%, 98%);
}
.dark__taskArea .taskArea__item {
  border-color: hsl(233deg, 14%, 35%);
}
.dark__taskArea .taskArea__item:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark__footer {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(233deg, 14%, 35%);
}
.dark__footer-hover:hover {
  color: hsl(233deg, 11%, 84%);
}
.dark__footer .footer__list {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}
.dark__footer .footer__item-active {
  color: hsl(220deg, 98%, 61%);
}

.dark {
  background-color: hsl(235deg, 21%, 11%);
  background-image: url(../../images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 32%;
}
@media screen and (min-width: 1024px) {
  .dark {
    background-image: url(../../images/bg-desktop-dark.jpg);
    background-size: 100% 35%;
  }
}
.dark__header {
  color: hsl(0deg, 0%, 98%);
}
.dark__header .header__sunMoon {
  background-image: url(../../images/icon-sun.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.dark__intro {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}
.dark__taskArea {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(0deg, 0%, 98%);
}
.dark__taskArea .taskArea__item {
  border-color: hsl(233deg, 14%, 35%);
}
.dark__taskArea .taskArea__item:hover {
  color: hsl(236deg, 33%, 92%);
}
.dark__footer {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(233deg, 14%, 35%);
}
.dark__footer-hover:hover {
  color: hsl(233deg, 11%, 84%);
}
.dark__footer .footer__list {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}
.dark__footer .footer__item-active {
  color: hsl(220deg, 98%, 61%);
}