.dark {
    background-color: $Very-Dark-Blue;
    background-image: url(../../images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 32%;

    @include media(1024px){
        background-image: url(../../images/bg-desktop-dark.jpg);
        background-size: 100% 35%;

    }

    &__header {
        color: $Very-Light-Gray;
        
        .header__sunMoon {
            background-image: url(../../images/icon-sun.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    &__intro {
        background-color: $Very-Dark-Desaturated-Blue;
        color: $Dark-Grayish-Blue;
    }

    &__taskArea {
        background-color: $Very-Dark-Desaturated-Blue;
        color: $Very-Light-Gray;

        .taskArea {
            &__item {
                border-color: $Very-Dark-Grayish-Blue;

                &:hover  {
                    color: $Light-Grayish-Blue-Hover;
                }
            }
        }
    }

    &__footer {
        background-color: $Very-Dark-Desaturated-Blue;
        color: $Very-Dark-Grayish-Blue;

        &-hover:hover {
            color: $Light-Grayish-Blue;
        }

        .footer__list {
            background-color: $Very-Dark-Desaturated-Blue;
            color: $Dark-Grayish-Blue;

        }
        .footer__item-active {
            color: $Bright-Blue;
        }
    }

}